# Mundiluz Environment Variables

# WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMBER=573184833330

# Site Info
NEXT_PUBLIC_SITE_URL=https://mundiluz.com
NEXT_PUBLIC_SITE_NAME=Mundiluz

# Contact
NEXT_PUBLIC_EMAIL=contacto@mundiluz.com
NEXT_PUBLIC_ADDRESS=Calle 79c #11B-17, Bogotá, Colombia
